@import './display';
@import './flexbox';
@import './margins';
@import './padding';
@import './positions';
@import './sizing';

.pointer {
    cursor: pointer;
}

.wc-primary-color {
    color: var(--primary-color);
    font-size: 1.25rem;
    letter-spacing: 0.12;
    line-height: 1.75rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 0rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .wc-primary-color {
        padding-top: 0.25rem;
    }
}