/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color:#663399;
    --btn-outline:#663399;
    --error-color:rgb(150, 4, 4);
    --question-tip:gray;
    --general-btn-text-color:white;
    --general-btn-hover-bg:white;
    --secondary-btn-bg:white;
    --secondary-btn-hover-bg:whitesmoke;
    --card-bg:white;
    --disabled-btn-bg:gainsboro;
    --disabled-btn-text:gray;  
}

