/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$indigo-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent:$my-accent
 ),
));

@include mat.all-component-themes($my-theme);
